@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap");

html,
body {
  background: #171717;
  background: linear-gradient(to right, #121212, #222222);
  font-family: "Kanit", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
#wrapper {
  min-height: 100%;
  position: relative;
}
div.body-content {
  /** Altura do rodapé tem que ser igual a isso aqui e vice-versa **/
  padding-bottom: 100px;
}
footer {
  text-align: center;
  background: #ffab62;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}
