.ritz .waffle a {
  color: inherit;
}

.ritz .waffle .s26 {
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s7 {
  border-left: none;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: top;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s32 {
  border-bottom: 1px solid #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s41 {
  border-bottom: 1px SOLID transparent;
  border-right: 1px SOLID transparent;
  background-color: #deeaf6;
  text-align: right;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s11 {
  border-bottom: 1px SOLID transparent;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 11pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s13 {
  border-bottom: 1px SOLID transparent;
  border-right: 1px SOLID transparent;
  background-color: #2e75b5;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  font-family: "docs-Calibri", Arial;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s5 {
  background-color: #ffffff;
  text-align: right;
  font-weight: bold;
  color: #2e75b5;
  font-family: "docs-Calibri", Arial;
  font-size: 36pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s19 {
  border-left: none;
  border-right: none;
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s8 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s9 {
  border-left: none;
  border-right: none;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s27 {
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s43 {
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s35 {
  border-bottom: 1px SOLID #2e75b5;
  border-right: 1px solid #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s15 {
  border-bottom: 1px SOLID transparent;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s28 {
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  background-color: #ffffff;
  text-align: right;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s23 {
  border-right: none;
  border-bottom: 1px solid #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s44 {
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s1 {
  border-left: none;
  border-right: none;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 16pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s30 {
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s31 {
  border-bottom: 1px solid #000000;
  background-color: #ffffff;
  text-align: right;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s14 {
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s16 {
  border-bottom: 1px SOLID transparent;
  border-right: 1px SOLID transparent;
  background-color: #2e75b5;
  text-align: left;
  font-weight: bold;
  color: #ffffff;
  font-family: "docs-Calibri", Arial;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s12 {
  border-right: 1px SOLID transparent;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s6 {
  border-right: none;
  background-color: #ffffff;
  text-align: left;
  font-weight: bold;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s3 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 16pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s21 {
  border-right: none;
  border-bottom: 1px SOLID transparent;
  background-color: #2e75b5;
  text-align: left;
  font-weight: bold;
  color: #ffffff;
  font-family: "docs-Calibri", Arial;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s2 {
  border-left: none;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 16pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s18 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s42 {
  background-color: #ffffff;
  text-align: right;
  font-weight: bold;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s20 {
  border-right: none;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s37 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s29 {
  border-bottom: 1px solid #000000;
  border-right: 1px SOLID transparent;
  background-color: #ffffff;
  text-align: right;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s39 {
  border-right: 1px SOLID transparent;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 12pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s34 {
  border-bottom: 1px SOLID #2e75b5;
  border-right: 1px solid #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s33 {
  border-bottom: 1px SOLID #2e75b5;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s4 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 11pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s22 {
  border-left: none;
  border-bottom: 1px SOLID transparent;
  background-color: #2e75b5;
  text-align: left;
  font-weight: bold;
  color: #ffffff;
  font-family: "docs-Calibri", Arial;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s36 {
  border-bottom: 1px SOLID #2e75b5;
  background-color: #ffffff;
  text-align: right;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s17 {
  border-right: 1px SOLID transparent;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s40 {
  border-bottom: 1px SOLID transparent;
  border-right: 1px SOLID transparent;
  background-color: #bdd6ee;
  text-align: left;
  font-weight: bold;
  color: #1e4e79;
  font-family: "docs-Calibri", Arial;
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s10 {
  border-left: none;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s38 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 12pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s25 {
  border-bottom: 1px solid #000000;
  border-right: 1px SOLID transparent;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s0 {
  border-right: none;
  background-color: #ffffff;
  text-align: left;
  font-weight: bold;
  color: #1e4e79;
  font-family: "docs-Calibri", Arial;
  font-size: 20pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s24 {
  border-left: none;
  border-bottom: 1px solid #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: "docs-Calibri", Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
