@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Mono&display=swap");

:root {
  --rosa: #f60d54;
}

html,
body {
  width: 100%;
  font-family: "Roboto Mono", monospace;
  background: #000000;
  padding: 1vh;
  margin: 1vh;
  color: var(--rosa);
}
header {
  text-align: center;
}

.bg {
  text-align: center;
}

footer {
  font-size: 12px;
}

footer small {
  color: aliceblue;
}

footer small a {
  color: #f60d54;
}

footer small a:hover {
  color: #ffffff;
  cursor: pointer;
}
