@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Mono&display=swap");

:root {
  --rosa: #f60d54;
}

html,
body {
  width: 100%;
  font-family: "Roboto Mono", monospace;
  background: #000000;
  padding: 1vh;
  margin: 1vh;
  color: var(--rosa);
}
header {
  text-align: center;
}
main {
  display: flex;
  justify-content: center;
}
form {
  font-size: 10pt;
  max-width: 800px;
}
form table input {
  text-align: center;
  border: 0.5px solid #f60d54;
}

form table input:focus {
  box-shadow: 0 0 0 0;
  border: 0.5px solid #f60d54;
  outline: 0;
}
form table select {
  height: 24px;
  text-align: center;
  border: 0.5px solid #f60d54;
}
form table select:focus {
  box-shadow: 0 0 0 0;
  border: 0.5px solid #f60d54;
  outline: 0;
}

.quantidade {
  width: 100px;
}
.descricao {
  width: 500px;
}
.valorU {
  width: 100px;
}
.valorT {
  width: 100px;
}

.finalT {
  text-align: end;
  font-size: 20px;
}

footer {
  font-size: 12px;
}

footer small {
  color: aliceblue;
}

footer small a {
  color: #f60d54;
}

footer small a:hover {
  color: #ffffff;
  cursor: pointer;
}
