@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Mono&display=swap");

:root {
  --rosa: #f60d54;
}

html,
body {
  font-family: "Roboto Mono", monospace;
  background: #000000;
  padding: 1vh;
  margin: 1vh;
  color: var(--rosa);
}
main {
  text-align: center;
  background-color: #ffffff;
  min-height: 40rem;
}

footer {
  text-align: center;
  font-size: 12px;
}

footer small {
  color: aliceblue;
}

footer small a {
  color: #f60d54;
}

footer small a:hover {
  color: #ffffff;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

table,
th,
td {
  border: 3px solid black;
}
thead {
  border-bottom: 3px solid rgb(0, 0, 0);
}

.box {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.boxdiv {
  text-align: center;
  width: 50rem;
  border: 2px solid white;
}
.quantidade {
  max-width: 20px;
}
.produto {
  max-width: 100px;
}
.unitario {
  text-align: center;
  max-width: 20px;
}
.total {
  text-align: center;
  max-width: 40px;
}
.celular {
  display: none;
}

.trF {
  font-size: 11pt;
}

.infoEmissor {
  color: #000000;
  display: flex;
  border: 2px solid black;
  height: 8.125rem;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
}
#inputVenda {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20pt;
}
.infoCliente {
  flex-wrap: nowrap;
  color: #000000;
  border-left: 2px solid black;
  border-right: 2px solid black;
  height: 10rem;
  display: grid;
}
.inputBorder {
  border: 1px solid black;
}

/* Chrome e outros */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
}

/*  Telas menores que 600px */
@media screen and (max-width: 47.994rem) {
  main {
    display: none;
  }
  footer #print {
    display: none;
  }
  .celular {
    display: inline;
  }
}
