@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto+Mono&display=swap");

:root {
  --rosa: #f60d54;
}

html,
body {
  font-family: "Roboto Mono", monospace;
  background: #000000;
  padding: 1vh;
  margin: 1vh;
  color: var(--rosa);
  height: 100px;
}
main {
  text-align: center;
  width: 600px;
  height: 600px;
  background-color: #ffffff;
}

footer {
  text-align: center;
  font-size: 12px;
}

footer small {
  color: aliceblue;
}

footer small a {
  color: #f60d54;
}

footer small a:hover {
  color: #ffffff;
  cursor: pointer;
}
