@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

input {
    width: 240px;
    height: 35px;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #3d3d3d;
    outline: none;
}

button {
    cursor: pointer;
    width: 120px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #f60d54;
    background: #f5f5f5;
}

button:hover {
    background: #f60d54;
    box-shadow: 2px 5px dimgray;
    cursor: pointer;
}

.sair {
    padding-top: 50px;
}

.danger {
    font-weight: bold;
    font-size: 10px;
    height: 25px;
    text-align: center;
    color: #f60d54;
    border: 1px solid #f60d54;
}

.danger:hover {
    color: #ffffff;
    border: 1px solid #ffffff;

}

table {
    width: 320px;
    height: 50px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.86em;
}

.tr {
    font-weight: bolder;
}

img {
    width: 25px;
    height: 25px;
}

body {
    background: #000000;
    background: linear-gradient(to right, #161616, #0d0d0d);
    font-family: 'Anybody', cursive;
    color: #3d3d3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    height: 48px;
    background: #f5f5f5;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

body #app {
    width: 320px;
    height: 380px;
    margin-top: 5%;
    border-radius: 10px;
    background: #fff;

    -webkit-box-shadow: 9px 9px 0px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 9px 9px 0px 1px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

body #tab {
    width: 380px;
    height: 260px;
    border: 1px solid silver;
    margin-top: 5%;
    background: #F5DEB3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media (max-width:480px) {

    /* smartphones, Android phones, landscape iPhone */

}